html,body{
	height: 100%;
}
#container,.page{
	height: 100%;
	position: relative;
}
.outwtap{
	height: 100%;
	position: relative;
}
#map{
	position: relative;
	overflow: visible;
	width: 100%;
	height: 100%;
}
.locationpos{
	position: absolute;
	left: 20px;
	bottom: 50px;
	width: 24px;
	height: 24px;
	background: url(../../img/compass.png) no-repeat;
	background-size: 24px 24px;
} 